.block{
    width: 100%;
}
.carousel_modal{
    margin-top: 10%;
    margin-left:5%;
    position: relative ;
}
.carousel-indicators .active{
    background: red !important;
    border-radius: 50% !important;
    width: 0.8vw !important;
    height: 1.5vh !important;
    border: 1px solid red !important;
    margin-top:20% !important;
}
.carousel-indicators li{
    background: none !important;
    border-radius: 50% !important;
    border:1px solid white !important;
    width: 0.8vw !important;
    height: 1.5vh !important;
    margin-top: 20% !important;
}
.carousel_wrapper{
    width: 100% !important;
}